<!DOCTYPE html>{% load static %}
<html xmlns="http://www.w3.org/1999/html">
    <head>
        <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
        {% load l10n %}
        <style>
            div#map {
                height: 100%;
                width: 100%;
                margin: 0;
                position: relative;
            }
            body, html {
                width: 100%;
                height: 100%;
                margin: 0;
            }
            div#menu {
                position: absolute;
                z-index: 999;
                top: 0;
                left: 0;
                width: 250px;
                background-color: white;
                height: 100%;
                margin: 0;
            }
        </style>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    </head>
    <body>
        <div id="map"></div>
        <script>
        function initMap() {
            var latlng = new google.maps.LatLng({{ lat|unlocalize }}, {{ long|unlocalize }});
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 12,
                center: latlng
            });
            var markers = [];
            var lines = [];
            var infoWindows = [];
            $('#line').on('change', function() {
                var val = this.value;
                $.each(markers, function(index, marker) {
                    if (lines[index] == val)
                        marker.setMap(map);
                    else
                        marker.setMap(null);
                });
            });

            $( document ).ready(function() {
                $.ajax({
                        url: '/map/mapdata/',
                        dataType: 'text',
                        success: function(response) {
                            var obj = $.parseJSON(response);
                            $.each(markers, function(index, marker) {marker.setMap(null);});
                            markers = [];
                            lines = [];
                            infoWindows = [];
                            var results = obj.result;
                            $.each(results, function(index, vehicle) {
                                markers[index] = new google.maps.Marker({
                                        position: {lat: parseFloat(vehicle.Lat), lng: parseFloat(vehicle.Lon) },
                                        map: null,
                                        icon: '{% static "tram-icon.png" %}'
                                    });
                                lines[index] = vehicle.Lines;
                                infoWindows[index] = new google.maps.InfoWindow({
                                    content: '<div><b>Linia nr '+vehicle.Lines+'</b></div><br />'+
                                        'Ostatnia aktualizacja: '+vehicle.Time
                                });
                                markers[index].addListener('click', function() {
                                    infoWindows[index].open(map, markers[index]);
                                });
                            });
                        },
                    });
                setInterval(function(){
                    $.ajax({
                        url: '/map/mapdata/',
                        dataType: 'text',
                        success: function(response) {
                            var obj = $.parseJSON(response);
                            $.each(markers, function(index, marker) {marker.setMap(null);});
                            markers = [];
                            lines = [];
                            infoWindows = [];
                            var results = obj.result;
                            var currentLine = $("#line").val();
                            $.each(results, function(index, vehicle) {
                                markers[index] = new google.maps.Marker({
                                        position: {lat: parseFloat(vehicle.Lat), lng: parseFloat(vehicle.Lon) },
                                        map: (vehicle.Lines == currentLine) ? map : null,
                                        icon: '{% static "tram-icon.png" %}'
                                    });
                                lines[index] = vehicle.Lines;
                                infoWindows[index] = new google.maps.InfoWindow({
                                    content: '<div><b>Linia nr '+vehicle.Lines+'</b></div><br />'+
                                        'Ostatnia aktualizacja: '+vehicle.Time
                                });
                                markers[index].addListener('click', function() {
                                    infoWindows[index].open(map, markers[index]);
                                });
                            });
                        },
                    })
                },10000)});



        }
        </script>
        <script async defer
            src="https://maps.googleapis.com/maps/api/js?key={{ google_maps_api_key }}&callback=initMap">
        </script>
        <script type="text/javascript">


        </script>


    <div id="menu">
    <img src={% static "logo.jpg" %}>
        <br /><br /><br /><br />
    <center><font face="Arial">Aktualna data</font><center/>
    <br/>

    <html>
  <head>
    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="screen"
     href="http://tarruda.github.com/bootstrap-datetimepicker/assets/css/bootstrap-datetimepicker.min.css">
  </head>
  <body>
    <div id="datetimepicker" class="input-append date">
      <input type="text"></input>
      <span class="add-on">
        <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
      </span>
    </div>
    <script type="text/javascript"
     src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.8.3/jquery.min.js">
    </script>
    <script type="text/javascript"
     src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/js/bootstrap.min.js">
    </script>
    <script type="text/javascript"
     src="http://tarruda.github.com/bootstrap-datetimepicker/assets/js/bootstrap-datetimepicker.min.js">
    </script>
    <script type="text/javascript"
     src="http://tarruda.github.com/bootstrap-datetimepicker/assets/js/bootstrap-datetimepicker.pt-BR.js">
    </script>
    <script type="text/javascript">
      $('#datetimepicker').datetimepicker({
        format: 'dd/MM/yyyy hh:mm:ss',
        language: 'pt-PL'
      });
    </script>
  </body>
<html>
    <br/><br/>

        <form action="/" method="post" class="pure-form pure-form-aligned"><fieldset>
            {% csrf_token %}
            <div class="pure-control-group">
                <label for="line">Linia</label>
                <select name="line" id="line">
                    <option value="0">---</option>
                    {% for tram in trams_lines %}
                    <option value="{{ tram }}"{% if tram == request.POST.line %} selected{% endif %}>{{ tram }}</option>
                    {% endfor %}
                </select>
            </div>
            <br />



        </fieldset></form>
    </div>
    </body>
</html>